* {
  font-family: "Nunito", sans-serif;
}

.mvmc-logo {
  @apply text-4xl space-x-4;
}

.mvmc-logo span {
  font-family: "BBH Sans Bartle", sans-serif;
}

.private-logo {
  @apply text-base space-x-[28px];
}

main {
  @apply text-white/90
}
